<h3>(facebook)</h3>

<!--DEBUG-->
{{#if data}}
    <!-- partials here-->
    {{data}}
{{/if}}

<div id="box">Box</div>

<div id="resultDiv"></div>


<script>
    var box = document.getElementById('box');
    box.addEventListener('click', function(e){
        this.classList.add('fly');
        this.addEventListener('animationend', function(e){
            this.classList.remove('fly');
        });
    });
</script>