<h3>(facebook)</h3>

<!--DEBUG-->
{{#if data}}
    <!-- partials here-->
    {{data}}
{{/if}}

<!--Word List Button-->
<button id="wordListButton" class="btn btn-default">Word List</button>
<button id="loadVideoButton" class="btn btn-primary">Load Video</button>



<div id="resultDiv"></div>


<script>
</script>