<h3>(login)</h3>

<!--DEBUG-->
{{#if data}}
    <!-- partials here-->
    {{data}}
{{/if}}

<!-- MAIN FORM -->
<form id="main-form" class="">
    <div class="form-group">
        <label id="label" for="input-text">Enter Password </label>
        <input type="password" class="form-control" id="password_input" name="password" required autocomplete="off" autofocus>
    </div>

    <button type="submit" alt="Submit" class="btn btn-default pull-right">Enter</button> <br>
</form>




<script>

    var token;

    // on load, check token
    window.addEventListener('load', function(e){

        //if local storage is available
        if(!window.localStorage){

            console.log('your browser is not supported.');

        } else {

            token = localStorage.getItem('token');

            if(token) {

                //do something (maybe ajax) before redirecting.

            } else {
                console.log('token not found');
            }
        }
    });



    var form = document.getElementById('main-form');

    form.addEventListener('submit', function(e){
        var inputData = document.getElementById('password_input');

        e.preventDefault();
        //console.log('debug password: "' + inputData.value + '"');

        //AJAX POST
        $.ajax({
            url: '/vm/authenticate',
            type: 'POST',
            data: {password: inputData.value},
            headers: {
                'x-access-token':'dummy data that should be stored in localStorage or cookie'
            },
            success: function(data, status, jqXHR) {

                console.log('Authentication request made. Data returned: ' + data);

                processResult(data);
            },
            error: function(jqXHR, status, err){
                console.log(err);
            }
        });

        inputData.value = '';

    });


    function processResult(inputData){

        var pwLabel = document.getElementById('label');

        if(inputData.status == 'success') {
            //grab token and store it.

        } else {

            //color blink
            pwLabel.classList.add('passwordError');
            pwLabel.addEventListener('animationend', function(e){
                pwLabel.classList.remove('passwordError');
            });

        }
    }

</script>