<h3>(login)</h3>

<!--DEBUG-->
{{#if data}}
    <!-- partials here-->
    {{data}}
{{/if}}

<!-- OVERLAY INDICATOR -->



<!-- MAIN FORM -->
<form id="main-form" class="">
    <div class="form-group">
        <label id="label" for="input-text">Enter Password </label>
        <input type="password" class="form-control" id="password_input" name="password" required autocomplete="off" autofocus>
    </div>

    <button type="submit" alt="Submit" class="btn btn-default pull-right">Enter</button> <br>

    <audio>
        <source src="/sound/get_outta_here.ogg">
    </audio>
</form>




<script>

    var token;
    var sndError;
    var sndSuccess;

    // on load, check token
    window.addEventListener('load', function(e){

        document.title = 'login';

        //load audio
        initAudio();


        //if local storage is available
        if(!window.localStorage){

            console.log('your browser is not supported.');

        } else {

            token = localStorage.getItem('token');

            if(token) {

                //do something (maybe ajax) before redirecting.

            } else {
                console.log('token not found');
            }
        }
    });



    var form = document.getElementById('main-form');

    form.addEventListener('submit', function(e){
        var inputData = document.getElementById('password_input');

        e.preventDefault();
        //console.log('debug password: "' + inputData.value + '"');

        //AJAX POST
        $.ajax({
            url: '/vm/authenticate',
            type: 'POST',
            data: {password: inputData.value},
            headers: {
                'x-access-token':'dummy data that should be stored in localStorage or cookie'
            },
            success: function(data, status, jqXHR) {

                console.log('Authentication request made. Data returned: ' + JSON.stringify(data));

                processResult(data);
            },
            error: function(jqXHR, status, err){
                console.log(err);
            }
        });

        inputData.value = '';

    });


    /**
     * Process server returned results.
     */


    function processResult(inputData){

        var pwLabel = document.getElementById('label');

        if(inputData.status == 'success') {
            //grab token and store it.

            blinkColor(pwLabel, true);
            sndSuccess.play();

            createOverlay();


            setToken(inputData.token);

            //TODO: Replace this with a URL from TOKEN.
            //================================================
            window.setTimeout(function(){
                console.log('Redirecting after audio clip.');
                document.location = 'http://localhost:3000/video';
            }, 3200);
            //================================================

        } else {

            blinkColor(pwLabel, false);
            sndError.play();

        }
    }

    /**
     * Blink an element a feedback color.
     * @param elem  Element to blink either red or green.
     * @param success   Boolean - true for green, false for red
     */
    function blinkColor(elem, success){

        if (success) {
            elem.classList.add('passwordSuccess');
            elem.addEventListener('animationend', function(e){
                elem.classList.remove('passwordSuccess');
            });
        } else {
            elem.classList.add('passwordError');
            elem.addEventListener('animationend', function(e){
                elem.classList.remove('passwordError');
            });
        }
    }

    /**
     * Initialize and load the audio.
     */
    function initAudio(){
        sndError = new Audio('/sound/get_outta_here.ogg');
        sndSuccess = new Audio('/sound/politically_correct.ogg');
    }

    /**
     * Creates the 'ACCEPTED' overlay message.
     */
    function createOverlay(){
        var containerDiv = document.createElement('div');
        var div = document.createElement('div');

        containerDiv.classList.add('loginAcceptedContainer');
        div.classList.add('loginAcceptedIcon');

        div.innerHTML = getRandomAcceptMessage();

        containerDiv.appendChild(div);

        document.body.appendChild(containerDiv);
    }

    /**
     * Get a random accepted messaged.
     * @returns {string}    A string message.
     */
    function getRandomAcceptMessage(){
        var db = ['OK!', '&#10004', 'GREAT!'];
        return db[Math.floor(Math.random() * db.length)];
    }

    function setToken(token){
        window.localStorage.setItem('token', token);
        console.log('token set. ');


    }


</script>