{{#section 'head'}}

    <title>Player</title>

    <style>

    </style>
{{/section}}

{{#if data}}
    {{data.message}}
    {{data.video}}
{{/if}}


{{#if data.video}}
    <p><strong>attempting to load video:</strong> {{data.video}}</p>
{{/if}}


<script>

</script>