<h3>(promise videos)</h3>

<script src="/js/overlayGen.js"></script>
<script src="/js/pingerTool.js"></script>



<button id="loadButtons" class="btn btn-success"> load buttons </button>

<div id="resultDiv"></div>

<script>

    var resultDiv = document.getElementById('resultDiv');

    // -- ONLOAD --
    window.addEventListener('load', function(e){
        init();
        console.log('ready to make the universe great again, with these words: ');
        console.log(wordLibrary);

    });


    // =================
    // FUNCTIONS =======

    function init() {

        // -- variables --
        var button = document.getElementsByTagName('button')[0];
        var resultDiv = document.getElementById('resultDiv');

        // button event listener
        button.addEventListener('click', function(e){
            resultDiv.innerHTML = '';

            var aButton = new Button('android', '/veedeeoh', resultDiv);
            var bButton = new Button('apple', '/veedeeoh', resultDiv);
            var cButton = new Button('OSX', '/veedeeoh', resultDiv);
            var dButton = new Button('word library', '/words', resultDiv);

            aButton.createButton();
            bButton.createButton();
            cButton.createButton();
            dButton.createButton();

        });

        console.log('App initialized.');

    }

    //PROCESS DATA
    function processData(dataObject){

        switch(dataObject.status){
            // -- COMPLETED CASES --
            case 'completed':
                    if (dataObject.payload.videoUrl) {
                        console.log(dataObject.payload.videoUrl);
                        resultDiv.innerHTML = dataObject.payload.videoUrl;
                    }

                    else if(dataObject.payload.fileArr) {
                        console.log(dataObject.payload.fileArr);

                        var resultArr = [];

                        dataObject.payload.fileArr.forEach(function(elem, ind, arr){
                            resultArr.push(elem);
                        });

                        resultDiv.innerHTML = resultArr;
                    } else {
                        console.log('data not grabbed.');
                        resultDiv.innerHTML = 'data not grabbed.';
                    }

                break;

            // -- REJECTED CASES --
            case 'rejected':
                console.log(dataObject.payload.rejectedArr);
                    resultDiv.innerHTML = dataObject.payload.rejectedArr;
                break;

            // -- DEFAULTED --
            default:
                console.log('Invalid data, defaulting.');
        }
    }

    //TODO: need to make this ASYNC, otherwise it's not going to work.
    function getWordLibrary(){
        var wordLib = [];

        $.ajax({
            url: '/words',
            method: 'GET',
            success: function(data, status, jqXHR){
                wordLib = data.payload.fileArr;
                return wordLib;
            },

            error: function(jqXHR, status, err){
                console.log('grabWordLibrary: AJAX Error: ' + err);
                return 'grabWordLibrary: AJAX Error: ' + err;
            }
        });
    }

    // =================
    // CONSTRUCTORS ====


    /**
     * Button Constructor.
     * @param name  Name of the button.
     * @param url   Route to AJAX.
     * @param rDiv  Result Div to populate.
     * @constructor
     */
    var Button = function(name, url, rDiv) {

        this.createButton = function() {

            var button = document.createElement('button');
            var buttonText = document.createTextNode(name+ ' button');
            button.classList.add('btn');
            button.classList.add('btn-primary');
            button.classList.add('buttonSpace');

            button.appendChild(buttonText);
            rDiv.appendChild(button);

            button.addEventListener('click', function(e){

                console.log(name + ' button pressed.');
                pingerTool.pingStart();
                overlayGen.createWaitOverlay();

                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function(data, status, jqXHR) {

                        overlayGen.removeWaitOverlay();

                        console.log('Ajax okay.');
                        processData(data);
                        pingerTool.pingEnd();

                    },
                    error: function(jqXHR, status, err) {
                        console.log(err);
                    }
                });

            });
        };

        console.log(name + ' button was created. ');
    };



</script>