<h3>(promise videos)</h3>

<script src="/js/overlayGen.js"></script>
<script src="/js/pingerTool.js"></script>



<button id="loadButtons" class="btn btn-success"> load buttons </button>

<div id="resultDiv"></div>

<script>

    var resultDiv = document.getElementById('resultDiv');

    // -- ONLOAD --
    window.addEventListener('load', function(e){
        //init();
        loader.loadImage('/vectors/balloon.svg');
        loader.loadImage('/images/large_image.jpg');

    });


    // =================
    // FUNCTIONS =======

    function init() {

        // -- variables --
        var button = document.getElementsByTagName('button')[0];
        var resultDiv = document.getElementById('resultDiv');

        // button event listener
        button.addEventListener('click', function(e){
            resultDiv.innerHTML = '';

            var aButton = new Button('android', '/veedeeoh', resultDiv);
            var bButton = new Button('apple', '/veedeeoh', resultDiv);
            var cButton = new Button('OSX', '/veedeeoh', resultDiv);

            aButton.createButton();
            bButton.createButton();
            cButton.createButton();

        });

        console.log('App initialized.');
    }

    //PROCESS DATA
    function processData(dataObject){

        switch(dataObject.status){
            case 'completed':
                console.log(dataObject.payload.videoUrl);
                resultDiv.innerHTML = dataObject.payload.videoUrl;
                break;
            case 'rejected':
                console.log(dataObject.payload.rejectedArr);
                    resultDiv.innerHTML = dataObject.payload.rejectedArr;
                break;
            default:
                console.log('Invalid data, defaulting.');
        }
    }

    // =================
    // CONSTRUCTORS ====


    /**
     * Button Constructor.
     * @param name  Name of the button.
     * @param url   Route to AJAX.
     * @param rDiv  Result Div to populate.
     * @constructor
     */
    var Button = function(name, url, rDiv) {

        this.createButton = function() {

            var button = document.createElement('button');
            var buttonText = document.createTextNode(name+ ' button');
            button.classList.add('btn');
            button.classList.add('btn-primary');
            button.classList.add('buttonSpace');

            button.appendChild(buttonText);
            rDiv.appendChild(button);

            button.addEventListener('click', function(e){

                console.log(name + ' button pressed.');
                pingerTool.pingStart();
                overlayGen.createWaitOverlay();

                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function(data, status, jqXHR) {

                        overlayGen.removeWaitOverlay();

                        console.log(data);
                        processData(data);
                        pingerTool.pingEnd();

                    },
                    error: function(jqXHR, status, err) {
                        console.log(err);
                    }
                });

            });
        };

        console.log(name + ' button was created. ');
    };



</script>