<h3>(video) (post to '/video') </h3>

{{! ---- DEBUG ---- }}
{{#if server}}
    <div class="serverVersion">{{server}} <span id="userCount" class="label label-primary thinLabel">0 users online</span></div>
{{/if}}


{{!--LIBRARIES & MODULES--}}
<script src="/js/pingerTool.js"></script>
<script src="/js/textSanitizer.js"></script>
<script src="/js/overlayGen.js"></script>
<script src="/js/videoGen.js"></script>
<script src="/js/charCreator.js"></script>
<script src="/socket.io/socket.io.js"></script>

<!-- number of users indicator (to fill in the room)-->
<div class="characterContainer"> </div>


<!-- MAIN DIV -->
<div class="container">
    <!-- MAIN FORM -->
    <form id="main-form" class="">
        <div class="form-group">
            <label for="input-text">Enter Text </label>
            <input type="text" class="form-control simplebox" id="input-text" name="input_data" required autocomplete="off" autofocus maxlength="200">
            <!--<textarea class="form-control simplebox" id="input-text" name="input_data" required autocomplete="off" autofocus maxlength="200"></textarea>-->


        </div>
        <button type="submit" alt="Submit" class="btn btn-default pull-right">Make Video</button> <br>
    </form>

    <!-- DEBUG CONTROLS -->
    <div id="debugControlsDiv">
        <!--Word List Button-->
        <button id="wordListButton" class="btn btn-default">Word List</button>
    </div>

    <!--Results Div-->
    <div id="resultDiv"></div>
</div>

<script src="/js/main.js"></script>