

html, body {
    width: 100%;
    height: 100%;
    //font-family: 'visitor', sans-serif;
    font-family: 'din-black', sans-serif;
    font-size: 16px;
}

#resultDiv {
    font-family: arial, sans-serif;
}

/* dynamically generated */
#videoElement {
    width: 100% !important;
    height: auto !important;
}

.buttonSpace {
    font-family: 'din-black', sans-serif;
    font-size: 1.5em;
    margin: 2px 2px 2px 2px;
}

/*====== SPINNERS =======*/
.spinnerContainer {
    display: flex;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.25);

    justify-content: center;
    align-items: center;
}

.spinnerObject {
    width: 50px;
    height: 50px;
}

.serverVersion {
    font-size: 1.2em;
    color: green;
}

.thinLabel {
    font-weight: 100;
    font-size: 11px;
    font-family: 'apple2', sans-serif;
}

input {
    outline: none;
    -webkit-appearance: none;
}
input[type=text]{

    height: 100px;
    font-size: 3em;

    outline: none;
}

input[type=text]:focus {
    outline: none;
}

textarea {
    height: 100px;
    font-size: 3em;
    outline: none;
}

//override bootstrap glows
.simplebox {
    outline: none;
    //border: none !important;
    border: 2px solid rgba(200,200,200,1.0);

    text-align: center;


    border-radius: 3px;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

